/*Google fonts*/
/* @import url('https://fonts.googleapis.com/css?family=Raleway');

body{
	padding: 0;
	margin: 0;

}
form{
	max-width: 30em;
	margin: 4em auto;
	position: relative;
    background: #f4f4f4;
    padding: 2em 3em;
    overflow: hidden;
}
form h1{
    font-family: "Raleway";
    color:#F97300;
}
form input[type=text]::placeholder{
   font-family: "Raleway";
   color:#666;
}
form .data{
    margin-top: 1em;
}
form .data li{
 background: #fff;
 border-left: 4px solid #F97300;
 padding: 1em;
 margin: 1em auto;
 color: #666;
 font-family: "Raleway";
}
form .data li i{
    float: right;
    color: #888;
    cursor: pointer;
}
form .input-group-text{
    background: #F97300;
    border-radius: 50%;
    width: 5em;
    height: 5em;
    padding: 1em 23px;
    color: #fff;
    position: absolute;
    right: 13px;
    top: 68px;
    cursor: pointer;
}
form .input-group-text i{
    font-size: 2em;
}
form .form-control{
	height: 3em;
    font-family: "Raleway";
}
form .form-control:focus{
	box-shadow: 0;
} */

.layout-wrapper {
  min-height: 100vh;
}


.layout-main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  padding: 7rem 2rem 2rem 4rem;
  transition: margin-left 0.05s;
  overflow: hidden;
  margin-top: 3cm;
}

.layout-main {
  flex: 1 1 auto;
}

.grid-container {
  display: grid;
  grid-template-columns:  35fr  65fr; /* Two equal columns */
  gap:  0cm; /* Half-centimeter gap between grid items */
  height:  475px;
}


.left-item {
grid-column:  1; /* Place this item in the first column */
overflow-y: auto;
margin-top: 1.8cm;
}

.right-item {
grid-column:  2; /* Place this item in the second column */
}







.layout-topbar {
  position: fixed;
  height: 5rem;
  z-index: 997;
  left: 0;
  top: 0;
  width: 100%;
  padding: 0 2rem;
  background-color: var(--surface-card);
  transition: left  0.5s;
  display: flex;
  align-items: center;
  box-shadow: 0px 3px 5px rgba(0,0,0,.02), 0px 0px 2px rgba(0,0,0,.05), 0px 1px 4px rgba(0,0,0,.08);

  .layout-topbar-logo {
      display: flex;
      align-items: center;
      color: var(--surface-900);
      font-size: 1.5rem;
      font-weight: 500;
      width: 300px;
      border-radius: 12px;

      img {
          height: 2.5rem;
          margin-right: .5rem;
      }

      /* &:focus {
          @include focused();
      } */
  }

  .layout-topbar-button {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      position: relative;
      color: var(--text-color-secondary);
      border-radius: 50%;
      width: 3rem;
      height: 3rem;
      cursor: pointer;
      transition: background-color  0.5s;

      &:hover {
          color: var(--text-color);
          background-color: var(--surface-hover);
      }

      /* &:focus {
          @include focused();
      } */

      i {
          font-size: 1.5rem;
      }

      span {
          font-size: 1rem;
          display: none;
      }
  }

  .layout-menu-button {
      margin-left: 2rem;
  }

  .layout-topbar-menu-button {
      display: none;

      i {
          font-size: 1.25rem;
      }
  }

  .layout-topbar-menu {
      margin: 0 0 0 auto;
      padding: 0;
      list-style: none;
      display: flex;

      .layout-topbar-button {
          margin-left: 1rem;
      }
  }
}

@media (max-width: 991px) {
  .layout-topbar {
      justify-content: space-between;

      .layout-topbar-logo {
          width: auto;
          order: 2;
      }

      .layout-menu-button {
          margin-left: 0;
          order: 1;
      }

      .layout-topbar-menu-button {
          display: inline-flex;
          margin-left: 0;
          order: 3;
      }

      .layout-topbar-menu {
          margin-left: 0;
          position: absolute;
          flex-direction: column;
          background-color: var(--surface-overlay);
          box-shadow: 0px 3px 5px rgba(0,0,0,.02), 0px 0px 2px rgba(0,0,0,.05), 0px 1px 4px rgba(0,0,0,.08);
          border-radius: 12px;
          padding: 1rem;
          right: 2rem;
          top: 5rem;
          min-width: 15rem;
          display: none;
          -webkit-animation: scalein 0.15s linear;
          animation: scalein 0.15s linear;

          &.layout-topbar-menu-mobile-active {
              display: block
          }

          .layout-topbar-button {
              margin-left: 0;
              display: flex;
              width: 100%;
              height: auto;
              justify-content: flex-start;
              border-radius: 12px;
              padding: 1rem;

              i {
                  font-size: 1rem;
                  margin-right: .5rem;
              }

              span {
                  font-weight: medium;
                  display: block;
              }
          }
      }
  }
}
