<div class="layout-wrapper">
  <div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <img src="./../assets/logo.png" alt="logo">
    </a>

    <div class="layout-topbar-menu">

    </div>
</div>
<div class="contenier">

  <div class="layout-main-container">

    <div class="layout-main">
      <div class="grid-container" align="center">

        <div class="left-item">
          <p-inputGroup>
            <input type="text" pInputText placeholder="Keyword" [(ngModel)]="query" style="width: 450px;"/>
            <button type="button" pButton icon="pi pi-search" [disabled]="!query" (click)="search()"></button>
          </p-inputGroup>
        </div>

        <div class="right-item">
          <div class="card">
            <p-table [value]="results" [tableStyle]="{ 'min-width': '50rem' }">
                <ng-template pTemplate="header">
                    <tr>
                        <th>No</th>
                        <th>Title</th>
                        <th>Autor</th>

                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-result>
                    <tr>
                        <td>{{ result }}</td>
                        <td>{{ result }}</td>
                        <td>{{ result }}</td>

                    </tr>
                </ng-template>
            </p-table>
          </div>
        </div>
      </div>

      <router-outlet></router-outlet>
    </div>
  </div>
</div>

</div>


